<div class="row mb-3 mt-4">
  <div class="col text-end">
    <button (click)="modalComponent.openModal()" class="btn btn-primary">
      ADD ADMIN
    </button>
    <app-create-admin-modal></app-create-admin-modal>
  </div>
</div>

<h2 class="mb-3">USERS</h2>
<table *ngIf="users.length>0" class="table">
  <caption>Users</caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Role</th>
<!--    <th></th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.email}}</td>
    <td>{{user.firstname}}</td>
    <td>{{user.lastname}}</td>
    <td>{{user.phone ? user.phone : "N/A"}}</td>
    <td>{{user.address ? user.address : "N/A"}}</td>
    <td>{{user.role}}</td>
<!--    <td>-->
<!--      <button (click)="deleteUser(user)" class="btn btn-danger">Delete</button>-->
<!--    </td>-->
  </tr>
  </tbody>
</table>
